<% layout('../layouts/admin') %>

<div class="alert alert-success" data-bind="flash: isSuccessful">
  Page was removed successfully
</div>


<a href = "/admin/pages/create"/>Add new page</a>
<br /><br />
<table class="table table-striped">
	<thead>
		<tr>
			<th>Page</th>
			<th>Slug</th>
			<th width = "100px"></th>
		</tr>
	</thead>
	<tbody data-bind="sortable: {data: pages, afterMove: save}">
		<tr data-bind="event: { mouseover: select, mouseout: unselect }">
			<td>

				<a data-bind="text: title, attr: { href:editUrl}" /></td>
			<td data-bind="text: slug"></td>
			<td >
				<button  class = "btn btn-danger" data-bind="command: remove, visible: isSelected">Remove</button>
				
			</td>

		</tr>
	</tbody>
</table>

<script type="text/javascript">

function PagesViewModel(pages)
{
	var self = this;
	self.pages = ko.observableArray(pages);
	self.isSuccessful = ko.observable(false);

	for(var i = 0; i < self.pages().length; i++)
    {
    	self.pages()[i].root = self;
    }

    self.remove = function(page)
    {
    	self.pages.remove(page)
    	self.isSuccessful(true);
    }

	self.save = function(args)
  	{
  		
    	for(var i = 0; i < self.pages().length; i++)
    	{
    	
    		self.pages()[i].order = i;
    		self.pages()[i].save();
    	}
    		
  	}
}

function PageViewModel( title, slug, body, editUrl, order, removeUrl, locked)
{
	var self = this;
	self.title = title;
	self.slug = slug;
	self.editUrl = editUrl;
	self.order = order;
	self.body = body;
	self.isSelected =  ko.observable(false);
	self.removeUrl = removeUrl;
	self.root = null;
	self.locked = locked;


	self.select = function()
	{
		if( self.locked ) return;
		self.isSelected(true);
	}

	self.unselect = function()
	{
		self.isSelected(false);
	}

	self.remove = ko.command({
      execute: function() {
           
          $.ajax({
              url: self.removeUrl,
              type: 'DELETE',
              dataType: 'json',
              data: {}
            }).done( function() {
        		self.root.remove(self);       
            });


		
          
        },
      canExecute: function() {
           return !locked;
        }
  	})


	self.save = function()
	{
		   $.ajax({
              url: self.editUrl,
              type: 'POST',
              dataType: 'json',
              data: {
                "title": self.title, "slug" : self.slug, "body" : self.body, "order" : self.order
              }
            }).done( function() {
                
              
            });
	}
}


var pageList = [];

<% for(var i = 0; i < pages.length; i++ ) { %>
	pageList.push( new PageViewModel('<%= pages[i].title %>', '<%= pages[i].slug %>','<%= pages[i].body %>', '<%= pages[i].editUrl %>', <%= pages[i].order %>,'<%= pages[i].removeUrl %>', <%= pages[i].locked %>));
<% } %>

ko.applyBindings(new PagesViewModel(pageList));

</script>